<app-header [title]="title"></app-header>
<router-outlet></router-outlet>
<!--<app-home></app-home>-->
<!--<app-product></app-product>-->

<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--<h1>hello angular </h1>-->

<!--&lt;!&ndash; one way binding :  Model(data) ==> View &ndash;&gt;-->
<!--<p>{{title}}</p>-->
<!--<p>currently in {{address.city}} of {{address.state}}</p>-->
<!--&lt;!&ndash; two way binding :  Model(data) <==> View   [(ngModel)]="title"&ndash;&gt;-->
<!--<input type="text" [(ngModel)]="title">-->
<!--<a href=" {{link}}">Google</a>-->

<!--&lt;!&ndash; attribute binding can only bind to non-self defined attribute&ndash;&gt;-->
<!--<a href="{{link}}">Google</a>-->
<!--<a [href]="link" >Google</a>-->
<!--&lt;!&ndash;event binding &ndash;&gt;-->
<!--<button (click)="handleClick()" >click me</button>-->

<!--&lt;!&ndash; handleInput($event)&ndash;&gt;-->
<!--<input type="text" [(ngModel)]="title">-->
<!--<input type="text" (input)="handleInput($event)" [value]="title">-->
<!--<router-outlet></router-outlet>-->
